In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Using NYC Open Data

In [3]:
#url = 'https://data.cityofnewyork.us/resource/6z8x-wfk4.csv'

evictions_df = pd.read_csv("Evictions.csv")

Checking the shape and the first few rows

In [4]:
evictions_df.shape

evictions_df.head()

(66349, 10)

,COURT_INDEX_NUMBER,DOCKET_NUMBER,EVICTION_ADDRESS,EVICTION_APT_NUM,EXECUTED_DATE,MARSHAL_FIRST_NAME,MARSHAL_LAST_NAME,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,EVICTION_ZIP
0,5743/19B,92057,1226 ROSEDALE AVENUE,3F,07/18/2019,Justin,Grossman,Residential,BRONX,10472
1,B31724/17,99191,2146 WATSON AVENUE,1R,05/14/2018,Darlene,Barone,Residential,BRONX,10472
2,K64166/16B,92592,55 WINTHROP ST,5D,03/29/2017,Darlene,Barone,Residential,BROOKLYN,11225
3,Q62200/18,109351,41-05 74TH STREET,1-D,11/15/2018,Darlene,Barone,Residential,QUEENS,11373
4,K071827/17,389794,732 ST MARKS AVENUE,14,02/13/2018,Richard,McCoy,Residential,BROOKLYN,11216

checking to see what type is each column and to see which are NULL

In [5]:
evictions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66349 entries, 0 to 66348
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   COURT_INDEX_NUMBER          66349 non-null  object
 1   DOCKET_NUMBER               66349 non-null  int64
 2   EVICTION_ADDRESS            66349 non-null  object
 3   EVICTION_APT_NUM            55378 non-null  object
 4   EXECUTED_DATE               66349 non-null  object
 5   MARSHAL_FIRST_NAME          66349 non-null  object
 6   MARSHAL_LAST_NAME           66349 non-null  object
 7   RESIDENTIAL_COMMERCIAL_IND  66349 non-null  object
 8   BOROUGH                     66349 non-null  object
 9   EVICTION_ZIP                66349 non-null  int64
dtypes: int64(2), object(8)
memory usage: 5.1+ MB

## Clean up the data

We can see the NaN's here and it could be because they live in the whole house but it does not affect our analysis so we are going to leave it as is

In [6]:
missing_eviction_apt = pd.isnull(evictions_df["EVICTION_APT_NUM"])

evictions_df[missing_eviction_apt]

,COURT_INDEX_NUMBER,DOCKET_NUMBER,EVICTION_ADDRESS,EVICTION_APT_NUM,EXECUTED_DATE,MARSHAL_FIRST_NAME,MARSHAL_LAST_NAME,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,EVICTION_ZIP
16,64627/19,9032,97-21 REMINGTON STREET,NaN,01/02/2020,Bernard,Blake,Residential,QUEENS,11435
18,87201/17,8838,1235 E 82ND STREET FIRST FLOOR APT,NaN,06/25/2018,George,"Essock, Jr.",Residential,BROOKLYN,11236
29,73885/18,26024,34 STODDARD PLACE,NaN,03/20/2019,Gary,Rose,Residential,BROOKLYN,11225
36,87746/18-2,26938,123 AMERSFORT PLACE,NaN,01/30/2019,Gary,Rose,Residential,BROOKLYN,11210
41,52036/18,77141,230 SAND LANE,NaN,07/02/2019,Kenneth,Giachetta,Residential,STATEN ISLAND,10305
...,...,...,...,...,...,...,...,...,...,...
66320,83355/17,154532,217 BUTLER STREET (ENTIRE PREMISES),NaN,03/30/2018,Ronald,Pazant,Residential,BROOKLYN,11217
66333,51383/17,76116,251 CORSON AVENUE ENTIRE PREMISES,NaN,10/20/2017,Henry,Daley,Residential,STATEN ISLAND,10301
66335,68981/16,326020,10 EAST 33RD STREET,NaN,04/27/2017,Thomas,Bia,Commercial,MANHATTAN,10016
66342,24302/16,5992,4327 GRACE AVENUE UNIT 1- FIRST FLOOR,NaN,01/20/2017,George,"Essock, Jr.",Residential,BRONX,10466
66345,72602,17897,1399 - NOSTRAND AVENUE,NaN,02/28/2017,Charles,Marchisotto,Commercial,BROOKLYN,11226

These are the unique Marshall names

In [7]:
evictions_df['MARSHAL_FIRST_NAME'].value_counts()

Justin        9162
Henry         6474
Richard       5889
Ileana        5839
Thomas        5559
Edward        5420
Danny         5350
George        4077
Darlene       3730
Robert        2515
Maxine        1871
Gary          1554
Alfred        1425
Ronald        1337
John           822
Vadim          804
Kenneth        769
Steven         757
Howard         710
Frank          547
Bernard        446
Charles        394
Salavatore     384
Bruce          369
Jeffrey        145
Name: MARSHAL_FIRST_NAME, dtype: int64

creating a column that has both names of the marshall

In [8]:
evictions_df['MARSHAL_NAME'] = evictions_df['MARSHAL_FIRST_NAME'] +' '+ evictions_df['MARSHAL_LAST_NAME']

dropping the first name and last name columns for a cleaner look

In [9]:
evictions_df.drop(labels = ['MARSHAL_FIRST_NAME', 'MARSHAL_LAST_NAME'], axis = 1, inplace = True)

In [10]:
evictions_df.head()

,COURT_INDEX_NUMBER,DOCKET_NUMBER,EVICTION_ADDRESS,EVICTION_APT_NUM,EXECUTED_DATE,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,EVICTION_ZIP,MARSHAL_NAME
0,5743/19B,92057,1226 ROSEDALE AVENUE,3F,07/18/2019,Residential,BRONX,10472,Justin Grossman
1,B31724/17,99191,2146 WATSON AVENUE,1R,05/14/2018,Residential,BRONX,10472,Darlene Barone
2,K64166/16B,92592,55 WINTHROP ST,5D,03/29/2017,Residential,BROOKLYN,11225,Darlene Barone
3,Q62200/18,109351,41-05 74TH STREET,1-D,11/15/2018,Residential,QUEENS,11373,Darlene Barone
4,K071827/17,389794,732 ST MARKS AVENUE,14,02/13/2018,Residential,BROOKLYN,11216,Richard McCoy

We will convert to the appropriate dtype

In [11]:
# creating the borough into category type 
evictions_df['BOROUGH'] = evictions_df['BOROUGH'].astype('category')

In [12]:
# creating the zip code into category type 
evictions_df['EVICTION_ZIP'] = evictions_df['EVICTION_ZIP'].astype('str')

In [13]:
# covnerting the RESIDENTIAL_COMMERCIAL_IND into category type 
evictions_df['RESIDENTIAL_COMMERCIAL_IND'].value_counts()

evictions_df['RESIDENTIAL_COMMERCIAL_IND'] = evictions_df['RESIDENTIAL_COMMERCIAL_IND'].astype('category')

Residential    60768
Commercial      5581
Name: RESIDENTIAL_COMMERCIAL_IND, dtype: int64

In [14]:
# convert to datetime 
evictions_df["EXECUTED_DATE"] = pd.to_datetime(evictions_df["EXECUTED_DATE"])

In [15]:
evictions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66349 entries, 0 to 66348
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   COURT_INDEX_NUMBER          66349 non-null  object
 1   DOCKET_NUMBER               66349 non-null  int64
 2   EVICTION_ADDRESS            66349 non-null  object
 3   EVICTION_APT_NUM            55378 non-null  object
 4   EXECUTED_DATE               66349 non-null  datetime64[ns]
 5   RESIDENTIAL_COMMERCIAL_IND  66349 non-null  category
 6   BOROUGH                     66349 non-null  category
 7   EVICTION_ZIP                66349 non-null  object
 8   MARSHAL_NAME                66349 non-null  object
dtypes: category(2), datetime64[ns](1), int64(1), object(5)
memory usage: 3.7+ MB

## Let's find out which borough has the most evicitons and info on those specific ones

What are the boroughs?

In [16]:
evictions_df['BOROUGH'].value_counts()

BRONX            22042
BROOKLYN         18810
QUEENS           13163
MANHATTAN        10165
STATEN ISLAND     2169
Name: BOROUGH, dtype: int64

we can see that the Bronx has the most evictions, let's create a mask and see those values only

In [17]:
mask1 = evictions_df['BOROUGH'] == 'BRONX'

In [18]:
# creatins a seperate dataframe for the bronx evicitons 
bronx_evictions = evictions_df[mask1]

In [19]:
bronx_evictions.head()

,COURT_INDEX_NUMBER,DOCKET_NUMBER,EVICTION_ADDRESS,EVICTION_APT_NUM,EXECUTED_DATE,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,EVICTION_ZIP,MARSHAL_NAME
0,5743/19B,92057,1226 ROSEDALE AVENUE,3F,2019-07-18,Residential,BRONX,10472,Justin Grossman
1,B31724/17,99191,2146 WATSON AVENUE,1R,2018-05-14,Residential,BRONX,10472,Darlene Barone
6,5049/18,342917,1462 TAYLOR AVENUE,21,2018-04-17,Residential,BRONX,10460,Thomas Bia
9,17929/19,493675,1270 GERARD AVENUE,UNIT 6R,2019-12-13,Residential,BRONX,10452,Danny Weinheim
17,43881/17,75483,2609 BRIGGS AVENUE,1A,2018-01-11,Residential,BRONX,10458,Henry Daley

### Trying to see what dates do evictions happen the most in the Bronx

In [20]:
# we can see the the most evictions happened on 1/10/2018 in the Bronx 
# a trend that we can see is that the 5 top dates of evictions in the Bronx happen towards the end of the year or 
# in the beginning of the year. We can probably see this with other boroughs too 
bronx_evictions['EXECUTED_DATE'].value_counts().sort_values(ascending=False)

2018-01-10    73
2018-01-09    71
2017-11-29    70
2018-01-03    68
2017-12-12    61
              ..
2019-12-24     1
2020-12-03     1
2017-06-17     1
2017-12-20     1
2018-12-21     1
Name: EXECUTED_DATE, Length: 772, dtype: int64

In [21]:
bronx_evictions["Bronx_Year"] = bronx_evictions["EXECUTED_DATE"].dt.year
bronx_evictions["Bronx_Month"] = bronx_evictions["EXECUTED_DATE"].dt.strftime("%B")

# show the evictions by year and month in the Bronx 
bronx_evictions.groupby(["Bronx_Year", "Bronx_Month"])["EVICTION_ADDRESS"].agg({"count"}).sort_index()

C:\Users\13476\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\13476\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                        count
Bronx_Year Bronx_Month
2017       April          606
           August         655
           December       529
           February       544
           January        766
           July           521
           June           656
           March          661
           May            736
           November       665
           October        678
           September      645
2018       April          604
           August         642
           December       398
           February       623
           January        840
           July           593
           June           640
           March          532
           May            750
           November       500
           October        524
           September      494
2019       April          597
           August         545
           December       336
           February       562
           January        676
           July           545
           June           513
           March          535
           May            588
           November       374
           October        439
           September      478
2020       December         1
           February       385
           January        513
           March          152
2070       March            1

In [22]:
bronx_evictions[bronx_evictions["Bronx_Year"] == 2070]

,COURT_INDEX_NUMBER,DOCKET_NUMBER,EVICTION_ADDRESS,EVICTION_APT_NUM,EXECUTED_DATE,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,EVICTION_ZIP,MARSHAL_NAME,Bronx_Year,Bronx_Month
49240,28748/16,317112,2714 BAINBRIDGE AVENUE,4A,2070-03-29,Residential,BRONX,10458,John Villanueva,2070,March

### Let's see which type of property type was most common for evictions in 1/10/2018

In [23]:
mask2 = bronx_evictions['EXECUTED_DATE'] == '01/10/2018'
mask3 = bronx_evictions['RESIDENTIAL_COMMERCIAL_IND'] == 'Residential'
mask4 = bronx_evictions['RESIDENTIAL_COMMERCIAL_IND'] == 'Commercial'

#### We can see that 71 were Residenial on 1/10/2018

In [24]:
bronx_evictions[mask2 & mask3]

,COURT_INDEX_NUMBER,DOCKET_NUMBER,EVICTION_ADDRESS,EVICTION_APT_NUM,EXECUTED_DATE,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,EVICTION_ZIP,MARSHAL_NAME,Bronx_Year,Bronx_Month
103,8452/16,321426,220 WEST 167TH STREET,5H,2018-01-10,Residential,BRONX,10452,Thomas Bia,2018,January
185,B037514/17,385277,1234 STRATFORD AVE,9A,2018-01-10,Residential,BRONX,10472,Richard McCoy,2018,January
255,31843/17,337816,872 KINSELLA STREET,2,2018-01-10,Residential,BRONX,10462,Thomas Bia,2018,January
1036,56433/17,338831,1463A HICKS STREET,2,2018-01-10,Residential,BRONX,10469,Thomas Bia,2018,January
3968,B57218/17,101979,2322-28 HUGHES AVE AKA 611-617 CRESCENT AVE,17,2018-01-10,Residential,BRONX,10458,Darlene Barone,2018,January
...,...,...,...,...,...,...,...,...,...,...,...
63716,B36430/17,99968,1235 MORRISON AVENUE,D4,2018-01-10,Residential,BRONX,10472,Darlene Barone,2018,January
64179,24131/17,472290,2147 HONEYWELL AVENU E,1B,2018-01-10,Residential,BRONX,10460,Danny Weinheim,2018,January
64746,B42299/17,84611,1870 PELHAM PARKWAY S,3L,2018-01-10,Residential,BRONX,10475,Ileana Rivera,2018,January
64765,30717/17,471462,3764 BRONX BLVD,4E,2018-01-10,Residential,BRONX,10467,Danny Weinheim,2018,January
66303,29661/17,2450,1105 MORRISON AVENUE,3L,2018-01-10,Residential,BRONX,10472,Vadim Barbarovich,2018,January

#### Only 2 are Commercial properties

In [25]:
bronx_evictions[mask2 & mask4]

,COURT_INDEX_NUMBER,DOCKET_NUMBER,EVICTION_ADDRESS,EVICTION_APT_NUM,EXECUTED_DATE,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,EVICTION_ZIP,MARSHAL_NAME,Bronx_Year,Bronx_Month
17352,901479/16,462456,3873 ORLOFF AVENUE,*,2018-01-10,Commercial,BRONX,10463,Danny Weinheim,2018,January
26782,901478/16,462455,3873 ORLOFF AVENUE,*,2018-01-10,Commercial,BRONX,10463,Danny Weinheim,2018,January

In [26]:
# these are the Marshal's that had evictions in the bronx on 01/10/2018
bronx_evictions.loc[mask2, 'MARSHAL_NAME'].value_counts()

Danny Weinheim       21
Thomas Bia           14
Darlene Barone       13
Ileana Rivera        10
Richard McCoy         9
Vadim Barbarovich     5
Maxine Chevlowe       1
Name: MARSHAL_NAME, dtype: int64

## Let's see which Marshal had the most evictions in the Bronx altogether

In [27]:
# we can see that these are the top 5 Marshals who had evictions in Bronx
bronx_evictions['MARSHAL_NAME'].value_counts().nlargest()

Thomas Bia         4080
Danny Weinheim     3933
Justin Grossman    2674
Darlene Barone     2032
Henry Daley        1873
Name: MARSHAL_NAME, dtype: int64

In [28]:
# this is the 5 who had the least amount of evictions in the Bronx 
bronx_evictions['MARSHAL_NAME'].value_counts().nsmallest()

Bruce Kemp         2
Bernard Blake      4
Steven Powell      5
Jeffrey Rose       9
Frank Siracusa    21
Name: MARSHAL_NAME, dtype: int64

### The zipcode in the Bronx that had the most evictions

In [48]:
# Zipcode 10467 has the most evictions within the Bronx 
bronx_evictions['EVICTION_ZIP'].value_counts().nlargest()

10467    1835
10458    1801
10456    1743
10453    1668
10457    1462
Name: EVICTION_ZIP, dtype: int64

In [46]:
mask5 = bronx_evictions['EVICTION_ZIP'] == '10467'
# making a new dataframe for the 10467 zipcode
bronx_10467 = bronx_evictions[mask5]

In [50]:
bronx_10467.head()

,COURT_INDEX_NUMBER,DOCKET_NUMBER,EVICTION_ADDRESS,EVICTION_APT_NUM,EXECUTED_DATE,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,EVICTION_ZIP,MARSHAL_NAME,Bronx_Year,Bronx_Month
97,B45404/18,95277,3648 WHITE PLAINS RO AD,DUPLEX APARTMENT,2019-03-21,Residential,BRONX,10467,Ileana Rivera,2019,March
150,54097/17,338835,2300 OLINVILLE AVENUE,5H,2018-02-16,Residential,BRONX,10467,Thomas Bia,2018,February
155,B062432/16,377941,3830 BRONX BLVD,2-F,2017-05-31,Residential,BRONX,10467,Richard McCoy,2017,May
193,14503/18,481524,3425 KNOX PLACE,1D,2018-10-24,Residential,BRONX,10467,Danny Weinheim,2018,October
238,901299/17,341580,3568 JEROME AVENUE,NaN,2018-06-06,Commercial,BRONX,10467,Thomas Bia,2018,June

In [56]:
# these are the top 5 marhsals that had the most evictions in zipcode 10467
bronx_10467['MARSHAL_NAME'].value_counts().nlargest(5)

Thomas Bia         377
Danny Weinheim     361
Justin Grossman    184
Richard McCoy      138
Darlene Barone     137
Name: MARSHAL_NAME, dtype: int64

## We do Brooklyn next

In [33]:
evictions_df['BOROUGH'].value_counts()

BRONX            22042
BROOKLYN         18810
QUEENS           13163
MANHATTAN        10165
STATEN ISLAND     2169
Name: BOROUGH, dtype: int64

In [34]:
mask6 = evictions_df['BOROUGH'] == 'BROOKLYN'

In [35]:
brooklyn_evictions = evictions_df[mask6]

In [36]:
brooklyn_evictions

,COURT_INDEX_NUMBER,DOCKET_NUMBER,EVICTION_ADDRESS,EVICTION_APT_NUM,EXECUTED_DATE,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,EVICTION_ZIP,MARSHAL_NAME
2,K64166/16B,92592,55 WINTHROP ST,5D,2017-03-29,Residential,BROOKLYN,11225,Darlene Barone
4,K071827/17,389794,732 ST MARKS AVENUE,14,2018-02-13,Residential,BROOKLYN,11216,Richard McCoy
8,70828/17,75589,712A GREENE AVENUE,2,2018-01-31,Residential,BROOKLYN,11221,Henry Daley
10,53337/17,292042,542 PARKSIDE AVE,C6,2017-04-24,Residential,BROOKLYN,11226,George Essock
12,51196/18,24504,939 SARATOGA AVENUE,2R,2018-04-27,Residential,BROOKLYN,11212,Gary Rose
...,...,...,...,...,...,...,...,...,...
66330,K57962/17,95203,2970 WEST 27TH ST,1409,2017-10-11,Residential,BROOKLYN,11224,Darlene Barone
66334,64186/19,96016,280 CROWN STREET,B06,2019-07-22,Residential,BROOKLYN,11225,Henry Daley
66338,82638/15,45815,58 MOTHER GASTON BOU LEVARD,3RD FLOOR,2017-02-03,Residential,BROOKLYN,11233,Justin Grossman
66341,93885/17A,74310,1326 BAY RIDGE AVE,2ND FLOOR,2018-05-07,Residential,BROOKLYN,11219,Justin Grossman
66345,72602,17897,1399 - NOSTRAND AVENUE,NaN,2017-02-28,Commercial,BROOKLYN,11226,Charles Marchisotto

### we can see that the date where there were the most evictions in Brooklyn is 1/18/17 but let's take a look at the latest date 2019-01-16

In [37]:
brooklyn_evictions['EXECUTED_DATE'].value_counts()

2017-01-18    74
2019-01-16    65
2017-01-04    64
2018-09-05    62
2018-06-01    61
              ..
2020-11-30     1
2019-12-23     1
2017-12-20     1
2020-11-20     1
2020-11-24     1
Name: EXECUTED_DATE, Length: 777, dtype: int64

In [38]:
mask7 = brooklyn_evictions['EXECUTED_DATE'] == '01/16/2019'
mask8 = brooklyn_evictions['RESIDENTIAL_COMMERCIAL_IND'] == 'Residential'
mask9 = brooklyn_evictions['RESIDENTIAL_COMMERCIAL_IND'] == 'Commercial'

### This is for residential

In [39]:
brooklyn_evictions[mask7 & mask8]

,COURT_INDEX_NUMBER,DOCKET_NUMBER,EVICTION_ADDRESS,EVICTION_APT_NUM,EXECUTED_DATE,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,EVICTION_ZIP,MARSHAL_NAME
1133,K81334/18,92067,1441-47 ST.JOHNS PLA CE,2H,2019-01-16,Residential,BROOKLYN,11216,Ileana Rivera
1414,90324/18,90651,252 74TH STREET,2G,2019-01-16,Residential,BROOKLYN,11209,Henry Daley
2059,75576/18,84263,547 FLATBUSH AVENUE,GROUND FLOOR,2019-01-16,Residential,BROOKLYN,11225,Justin Grossman
2877,78230/18,88503,2424 WEST STREET,ENTIRE BASEMENT,2019-01-16,Residential,BROOKLYN,11223,Henry Daley
2950,88289/18,89927,184 LANGHAM STREET,UNIT 2,2019-01-16,Residential,BROOKLYN,11235,Justin Grossman
3299,71350/18,206149,953 BELMONT AVENUE SECOND FLOOR(ROOM 3),NaN,2019-01-16,Residential,BROOKLYN,11208,Richard Capuano
3333,079931/18,88899,2620 GLENWOOD ROAD,1C,2019-01-16,Residential,BROOKLYN,11210,Henry Daley
3491,85653/18,9920,2070 72ND ST - APT 2B,2B,2019-01-16,Residential,BROOKLYN,11204,Robert Renzulli
5474,K73776/18,91023,453 PENNSYLVANIA AVE NUE AKA 666 DUMONT AVENUE,19,2019-01-16,Residential,BROOKLYN,11207,Ileana Rivera
6417,59413/18,25266,705 BRADFORD STREET,2,2019-01-16,Residential,BROOKLYN,11207,Gary Rose
6531,K77668/18,92823,5422 4TH AVENUE,2A,2019-01-16,Residential,BROOKLYN,11220,Ileana Rivera
6870,74040/18,9957,142 RIDGEWOOD AVE - 2ND FLR,2ND FLR,2019-01-16,Residential,BROOKLYN,11208,Robert Renzulli
10011,88141/18,156844,515 CRESENT STREET,1,2019-01-16,Residential,BROOKLYN,11208,Ronald Pazant
10518,K88383/18,93336,653 BLAKE AVENUE,12A,2019-01-16,Residential,BROOKLYN,11207,Ileana Rivera
11675,K94425/17,88606,49-57 CROWN STREET,6F,2019-01-16,Residential,BROOKLYN,11225,Ileana Rivera
11892,89793/18,90232,1544 MYRTLE AVENUE,3RD FLOOR APARTMENT,2019-01-16,Residential,BROOKLYN,11237,Henry Daley
12430,76945/18,88224,2611 EAST 13TH ST,7F,2019-01-16,Residential,BROOKLYN,11235,Henry Daley
13556,73178/18,61826,804 CLEVELAND STREET,1,2019-01-16,Residential,BROOKLYN,11208,Howard Schain
16858,73650/18-1,26216,2281 STRAUSS STREET,1F,2019-01-16,Residential,BROOKLYN,11212,Gary Rose
18025,86879/17A,86605,284 EAST 54TH STREET,2ND FLOOR,2019-01-16,Residential,BROOKLYN,11203,Justin Grossman
20225,089793/18,90804,1544 MYRTLE AVENUE,3RD FLOOR APARTMENT,2019-01-16,Residential,BROOKLYN,11237,Henry Daley
20485,77129/18,89483,2143 74TH STREET,BASEMENT REAR,2019-01-16,Residential,BROOKLYN,11204,Henry Daley
21172,66806/18,90340,950 RUTLAND ROAD,711,2019-01-16,Residential,BROOKLYN,11212,Henry Daley
23041,73650/18-2,26217,2281 STRAUSS STREET,1F,2019-01-16,Residential,BROOKLYN,11212,Gary Rose
25625,90313/18,90647,2164 CATON AVENUE,4C,2019-01-16,Residential,BROOKLYN,11226,Henry Daley
29059,83444/18,9991,928 EAST 106 STREET 1ST FLOOR,NaN,2019-01-16,Residential,BROOKLYN,11236,Robert Renzulli
29679,66275/18B,81632,577 CRESCENT STREET,2F,2019-01-16,Residential,BROOKLYN,11208,Justin Grossman
30706,88375/18,156843,515 CRESENT STREET,2,2019-01-16,Residential,BROOKLYN,11208,Ronald Pazant
33188,53305/18,77504,135 OCEAN AVENUE,1G,2019-01-16,Residential,BROOKLYN,11225,Justin Grossman
33269,K89095/17,93860,8701 RIDGE BOULEVARD,E6,2019-01-16,Residential,BROOKLYN,11209,Ileana Rivera
34572,76737/17,90871,2033 EAST 57TH ST,107D,2019-01-16,Residential,BROOKLYN,11234,Henry Daley
37475,K68584/18,93500,693 AUTUMN AVENUE,2,2019-01-16,Residential,BROOKLYN,11208,Ileana Rivera
37602,90340/18,89426,595 HART STREET,FLOOR-3,2019-01-16,Residential,BROOKLYN,11221,Justin Grossman
38036,89992/18,90234,76 NORTH 4 STREET,0524,2019-01-16,Residential,BROOKLYN,11249,Henry Daley
38830,83005/18-2,26832,2714 AVENUE D,1F,2019-01-16,Residential,BROOKLYN,11226,Gary Rose
39060,K86112/18,93875,463 EAST 40TH STREET,ENTIRE HOUSE,2019-01-16,Residential,BROOKLYN,11203,Ileana Rivera
39944,88288/18,89926,184 LANGHAM STREET,UNIT 1,2019-01-16,Residential,BROOKLYN,11235,Justin Grossman
40984,79931/18,88898,2620 GLENWOOD ROAD,1C,2019-01-16,Residential,BROOKLYN,11210,Henry Daley
41371,83005/18-1,26831,2714 AVENUE D,1F,2019-01-16,Residential,BROOKLYN,11226,Gary Rose
43023,66660/18,86698,633 BARBEY STREET,2R,2019-01-16,Residential,BROOKLYN,11207,Henry Daley
44354,89600/18,206870,165 28TH AVENUE,NaN,2019-01-16,Residential,BROOKLYN,11214,Richard Capuano
46797,078230/18,90949,2424 WEST STREET,ENTIRE BASEMENT,2019-01-16,Residential,BROOKLYN,11223,Henry Daley
46914,85213/18,206646,5201 SNYDER AVE AKA 417 EAST 52ND ST,4G,2019-01-16,Residential,BROOKLYN,11203,Richard Capuano
47363,71315/18,83015,1932 BERGEN STREET,ENTIRE 3RD FLOOR,2019-01-16,Residential,BROOKLYN,11233,Justin Grossman
48409,86879/17B,86606,284 EAST 54TH STREET,2ND FLOOR,2019-01-16,Residential,BROOKLYN,11203,Justin Grossman
48832,76964/18,87002,625 EAST 18TH STREET,6A,2019-01-16,Residential,BROOKLYN,11226,Henry Daley
48886,K50416/16,93058,455 HOWARD AVENUE,2-B,2019-01-16,Residential,BROOKLYN,11233,Ileana Rivera
49801,088860/18,156861,401 MACON STREET,2,2019-01-16,Residential,BROOKLYN,11233,Ronald Pazant
50848,90035/18,88805,627 MADISON STREET,2,2019-01-16,Residential,BROOKLYN,11221,Justin Grossman
50860,77831/18-2,206446,959 BELMONT AVENUE,NaN,2019-01-16,Residential,BROOKLYN,11208,Richard Capuano
51004,66275/18A,81631,577 CRESCENT STREET,2F,2019-01-16,Residential,BROOKLYN,11208,Justin Grossman
51905,89792/18,90917,245 MIDWOOD STREET,7,2019-01-16,Residential,BROOKLYN,11225,Henry Daley
54719,77831/18-1,206306,959 BELMONT AVENUE,NaN,2019-01-16,Residential,BROOKLYN,11208,Richard Capuano
56495,75908/18,85993,1045 EAST 59TH ST,SIDE ENTRANCE,2019-01-16,Residential,BROOKLYN,11234,Justin Grossman
58749,83731/18,91305,1110 EAST 101 STREET,#ENTIRE 1ST FLOOR,2019-01-16,Residential,BROOKLYN,11236,Henry Daley
61865,71027/18,25676,494 SHEFFIELD AVENUE,6-D,2019-01-16,Residential,BROOKLYN,11207,Gary Rose
62339,K88386/18,93337,327 PULASKI STREET,NaN,2019-01-16,Residential,BROOKLYN,11206,Ileana Rivera
62550,88860/18,156860,401 MACON STREET,2,2019-01-16,Residential,BROOKLYN,11233,Ronald Pazant
66270,76673/18,10001,738 FRANKLIN AVENUE APT. 2A,2A,2019-01-16,Residential,BROOKLYN,11238,Robert Renzulli

### This is commercial

In [40]:
brooklyn_evictions[mask7 & mask9]

,COURT_INDEX_NUMBER,DOCKET_NUMBER,EVICTION_ADDRESS,EVICTION_APT_NUM,EXECUTED_DATE,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,EVICTION_ZIP,MARSHAL_NAME
327,69478/18,205824,887 5TH AVENUE STORE 2,NaN,2019-01-16,Commercial,BROOKLYN,11232,Richard Capuano
21401,K100602/15,66141,1433 NOSTRAND AVENUE,GROUND FLOOR LEFT ST,2019-01-16,Commercial,BROOKLYN,11226,Ileana Rivera
37025,82793/18,206410,630 FLUSHING AVENUE SUITE 546,NaN,2019-01-16,Commercial,BROOKLYN,11206,Richard Capuano
37507,58877/18,88278,1007 EAST 12TH STR EET AKA 1202 AVENUE J,GROUND FLOOR STORE &,2019-01-16,Commercial,BROOKLYN,11230,Justin Grossman
39859,K77041/18,91195,5809 AVENUE T,UNIT:STORE,2019-01-16,Commercial,BROOKLYN,11234,Ileana Rivera
59417,84231/18,88077,41-43 4TH STREET,ENTIRE BUILDING,2019-01-16,Commercial,BROOKLYN,11231,Justin Grossman

In [41]:
# These are the number of evictions each Marshal had on 01/18/2017
brooklyn_evictions.loc[mask7, 'MARSHAL_NAME'].value_counts()

Henry Daley        17
Justin Grossman    14
Ileana Rivera      12
Richard Capuano     7
Gary Rose           6
Robert Renzulli     4
Ronald Pazant       4
Howard Schain       1
Name: MARSHAL_NAME, dtype: int64

### The top 5 Marshal's with the most evictions

In [42]:
brooklyn_evictions.loc[mask7, 'MARSHAL_NAME'].value_counts().nlargest()

Henry Daley        17
Justin Grossman    14
Ileana Rivera      12
Richard Capuano     7
Gary Rose           6
Name: MARSHAL_NAME, dtype: int64

### let us look at the most evicted zipcodes

In [43]:
brooklyn_evictions["EVICTION_ZIP"].value_counts().nlargest()

11212    1375
11208    1347
11207    1342
11226    1333
11233    1183
Name: EVICTION_ZIP, dtype: int64

In [44]:
mask10 = brooklyn_evictions['EVICTION_ZIP'] == '11212'
# making a new dataframe for the 10467 zipcode
brooklyn_11212 = brooklyn_evictions[mask10]

In [53]:
brooklyn_11212.head()

,COURT_INDEX_NUMBER,DOCKET_NUMBER,EVICTION_ADDRESS,EVICTION_APT_NUM,EXECUTED_DATE,RESIDENTIAL_COMMERCIAL_IND,BOROUGH,EVICTION_ZIP,MARSHAL_NAME
12,51196/18,24504,939 SARATOGA AVENUE,2R,2018-04-27,Residential,BROOKLYN,11212,Gary Rose
125,16250/17,156209,175 TAPSCOTT STREET,01E,2019-04-18,Residential,BROOKLYN,11212,Ronald Pazant
135,94039/18,10198,9025 KINGS HIGHWAY APT. BASEMENT,BSMT,2019-02-07,Residential,BROOKLYN,11212,Robert Renzulli
199,75036/17,23122,1035 CLARKSON AVE,4F,2017-11-15,Residential,BROOKLYN,11212,Gary Rose
231,91247/16,57899,117 EAST 95TH STREET,BASEMENT-FIRST DOOR,2017-03-13,Residential,BROOKLYN,11212,Justin Grossman

### Let's look at the top 5 marshal's who had the most evictions in that zipcode

In [55]:
brooklyn_11212['MARSHAL_NAME'].value_counts().nlargest()

Justin Grossman    320
Henry Daley        154
Ileana Rivera      149
Howard Schain      123
Gary Rose          101
Name: MARSHAL_NAME, dtype: int64